<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div>
      <form>
        <input type:"text" name:"groupSearch">
        <button>Search for an Artist</button>
      </form>
    </div>
     <main>{{{body}}}</main>
  </body>
</html>