<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div id="formStyle">
      <form action="/artist-search" method="GET">
        <input type="text" name="groupSearch">
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
     <main>{{{body}}}</main>
  </body>
</html>