<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- ne pas mettre public devant -->
  </head>
  <body>
    <div id="formStyle">
      <form action="/artist-search", method="GET">
        <input type:"text" name:"groupSearch">
        <button>Search for an Artist</button>
      </form>
    </div>
     <main>{{{body}}}</main>
  </body>
</html>